.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.select-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.select-block {
  margin: 0 10px;
}

.select-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.policy {
  width: 60%;
  height: 100%;
}

.policy-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
}

.institution-info {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.star-icons {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.star-icons svg {
  margin-right: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #ccc;
}
  